apiVersion: v1
kind: Service
metadata:
  name: helloworld-service
spec:
  type: ClusterIP # Use LoadBalancer if you want an external IP on Minikube
  selector:
    app: helloworld
  ports:
    - protocol: TCP
      port: 80       # Port the service listens on
      targetPort: 8080 # Port your Java app is running on inside the container
